<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Galatar: tutorial de gestión básica de usuarios en Symfony 4">
    <meta name="author" content="Juanan Ruiz">
    <title>{{ titulo }} - Galatar SymfoUsuarios</title>
    {% block css %}
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/css/dashboard.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('inicio') }}">Galatar Symfo Usuarios</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Buscar">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ path('logout') }}">Cerrar sesión</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('intranet') }}">
                            <span data-feather="home"></span>
                            Inicio <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('personas') }}">
                            <span data-feather="users"></span>
                            Usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="book"></span>
                            Roles
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block contenido %}
            {% endblock %}
        </main>
    </div>
</div>

{% block js %}
    <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Iconos Feather-->
    <script src="assets/js/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
{% endblock %}

</body>
</html>
