{{ form_start(form) }}
    {{ form_row(form.correo) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

<button type="submit">Registrar</button>
{{ form_end(form) }}