{% extends 'layout_base_cover.html.twig' %}
{% set titulo = 'Registro de usuario' %}


{% block contenido %}
    {{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.apellidos) }}
    {{ form_row(form.correo) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Registrar</button>
    {{ form_end(form) }}

    <form class="form" name="user" method="post" action="{{ path('registro_usuario') }}">
        <div class="form-group">
            <label for="user_nombre" class="required">Nombre</label>
            <input class="form-control" type="text" id="user_nombre" name="user[nombre]" required="required">
        </div>
        <div class="form-group">
            <label for="user_apellidos" class="required">Apellidos</label>
            <input class="form-control" type="text" id="user_apellidos" name="user[apellidos]" required="required">
        </div>
        <div class="form-group">
            <label for="user_correo" class="required">Correo</label>
            <input class="form-control" type="email" id="user_correo" name="user[correo]" required="required">
        </div>
        <div class="form-group">
            <label for="user_plainPassword_first" class="required">Password</label>
            <input class="form-control" type="password" id="user_plainPassword_first" name="user[plainPassword][first]"
                   required="required">
        </div>
        <div class="form-group">
            <label for="user_plainPassword_second" class="required">Repite el password</label>
            <input class="form-control" type="password" id="user_plainPassword_second" name="user[plainPassword][second]"
                   required="required">
        </div>

        <button type="submit">Registrar</button>
        <input type="hidden" id="user__token" name="user[_token]" value="bLzNqrsmjklI8OkHzyGVJQB7hmBo9pHbYhzoec84SpI">
    </form>

{% endblock %}